

.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
  margin-top: 20px; /* Add spacing above the contact list */
  margin-bottom: 20px; /* Add spacing below the contact list */
}

.list-item {
  line-height: 4;
  margin-bottom: 40px; /* Add spacing between list items */
}

.contact-text {
  display: flex;
  align-items: center;
}

.contact-text svg {
  margin-right: 10px; /* Add spacing between the icon and text */
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 60%;
  align-items: center;
  border-radius: 20px;
  border: 2px solid rgb(236, 147, 4);
}

/* Left contact page */

.form-control textarea {
  max-width: 400px;
  letter-spacing: 1px;
  height: 250px;
}

/* Right Contact Page */

/* Location, Phone, Email Section */

.contact-text {
  font: 300 20px "Lato";
  letter-spacing: 1.9px;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

@media screen and (max-width: 850px) {
  .contact-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .direct-contact-container {
    max-width: 100%;
  }

  .contact-list {
    margin-left: 0;
    padding-right: 0;
    text-align: center;
  }

  .list-item {
    margin-bottom: 20px;
  }

  .contact-text {
    justify-content: center;
    margin-left: 0;
  }

  .place,
  .phone,
  .gmail {
    margin-left: 0;
  }
}

@media screen and (max-width: 569px) {
  .w-96 {
    max-width: 98%;
    padding: 5px;
  }
  .email {
    font-size: 14px;
  }
  .contact-wrapper {
   
    justify-content: space-between;
    margin: 0 auto;
    margin: 5px;
    padding: 10px;
    position: relative;
    max-width: 100%;
    align-items: center;
    border-radius: 20px;
    border: 2px solid rgb(236, 147, 4);
  }
}
