#contact {
  width: 100%;
  height: 100%;
}

.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
  margin-top: 20px; /* Add spacing above the contact list */
  margin-bottom: 20px; /* Add spacing below the contact list */
}

.list-item {
  line-height: 4;
  margin-bottom: 40px; /* Add spacing between list items */
}

.contact-text {
  display: flex;
  align-items: center;
}

.contact-text svg {
  margin-right: 10px; /* Add spacing between the icon and text */
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px;
  position: relative;
  max-width: 80%;
  box-shadow: 4px 4px 6px rgb(0, 0, 0);
  align-items: center;
  border-radius: 20px;
}

/* Left contact page */

.form-control textarea {
  max-width: 400px;
  letter-spacing: 1px;
  height: 250px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

/* Right Contact Page */
.direct-contact-container {
  max-width: 50%;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
}

.contact-text {
  font: 300 18px "Lato", sans-serif;
  letter-spacing: 1.9px;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

hr {
}

@media screen and (max-width: 850px) {
  .contact-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .direct-contact-container {
    max-width: 100%;
  }

  .contact-list {
    margin-left: 0;
    padding-right: 0;
    text-align: center;
  }

  .list-item {
    margin-bottom: 20px;
  }

  .contact-text {
    justify-content: center;
    margin-left: 0;
  }

  .place,
  .phone,
  .gmail {
    margin-left: 0;
  }

  .direct-contact-container,
  .w-96 {
    margin: 0 auto;
  }

  .w-96 {
    width: 100%;
    max-width: 400px;
  }

  .form-control textarea {
    max-width: 100%;
  }

  .btn-outline {
    width: 100%;
  }
}

@media screen and (max-width: 569px) {
  .direct-contact-container {
    max-width: 280px;
  }

  .w-96 {
    max-width: 280px;
  }
  .email{
    font-size: 10px;

  }
}
